
{% extends "base.html" %}

{% block title %}
  listado de productos  
{% endblock %}

{% block content %}

<h1>Listado de productos</h1>

    {% for product in products %}

    <!-- cards-->
    <p>El producto es:</p>
    <div class="card" style="width: 18rem">
      <img
        src="https://media.istockphoto.com/id/459257189/es/foto/puede-de-monster-bebida-energ%C3%A9tica.jpg?s=612x612&w=0&k=20&c=ncDL6rah54bual1YE26Q69zWTKUF__sdLZq4uFmhKx8="
        class="card-img-top"
        alt="..."
      />
      
      <div class="card-body">
        
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">Su precio es : ${{product.price}}</p>
        {%if product.stock == True %}
        <p>Actualmente tenemos stock</p>
        {%else%}
        <p>Actualmente, estamos sin stock</p>
        {%endif%}
        <a href="#" class="btn btn-primary">COMPRAR</a>
      </div>
    </div>
    
    <p></p>

    {% endfor %}

{% endblock %}

  
