<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>saludo desde saludo</h1>
    <h3> desde saludo ! {{nombre}} </h3>

    <h3> su nombre es {{nombre}} edad {{edad}}</h3>


    <h3> lista de frutas</h3>
      
   <ul> {% for fruta in lista_frutas %}

        {% if fruta == "manzana" %}
        <li style="color:red">{{fruta}}</li>
        {% elif fruta == "pera" %}
        <li style="color: greenyellow;"> {{fruta}} </li>
        {% elif fruta == "banana"%}
        <li style="color: yellow;"> {{fruta}} </li>
        {%elif fruta == "naranja" %}
        <li style="color: orange;"> {{fruta}} </li>
        {% else %}
        <li> {{fruta}} </li>


        {% endif %}
         {% endfor %}
  </ul>
       
     
</body>
</html>