
{% extends "base.html" %}

{% block title %}
  listado de ordenes  
{% endblock %}

{% block content %}
    {% for order in orders %}

    <!-- cards-->
    <div class="card" style="width: 18rem">
      <img
        src="https://media.istockphoto.com/id/459257189/es/foto/puede-de-monster-bebida-energ%C3%A9tica.jpg?s=612x612&w=0&k=20&c=ncDL6rah54bual1YE26Q69zWTKUF__sdLZq4uFmhKx8="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">El cliente :{{order.client}}</h5>
        <p class="card-text">compro el producto: ${{order.product}} el {{order.creation_datetime}} </p>
        <p>el pago se realizo con {{order.payment_method}} </p>
        <a href="#" class="btn btn-primary">Ver detalle</a>
      </div>
    </div>
    {% endfor %}

{% endblock %}

   
